/* 
Color palette
  orange: #f25c54;
  black: #292929;
  pale blue: #c9daea;
  green: #88d18a;
  teal: #5a7d7c;
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #c9daea;
  color: #292929;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg1 {
  background-color: #f25c54;
}

.bg2 {
  background-color: #292929;
}

.bg3 {
  background-color: #c9daea;
}

.bg4 {
  background-color: #88d18a;
}

.bg5 {
  background-color: #5a7d7c;
}
