.title {
  font-family: monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f25c54;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header ul li a {
  padding: 1rem;
  color: #292929;
  font-weight: 800;
}

.header ul li a:hover {
  background-color: #292929;
  color: #ffffff;
}
